{% extends 'base.html' %}
{% load comments_extras %}

                {% block toc %}
                {% if post.toc %}
                <div class="widget widget-content">
                    <h3 class="widget-title">文章目录</h3>
                    {{ post.toc|safe }}
                </div>
                {% endif %}
                {% endblock toc %}

                {% block main %}
                <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">{{post.title}}</h1>
                        <div class="entry-meta">
                            <span class="post-category">{{ post.category.name }}</span>
                            <span class="post-date"><time class="entry-date"
                                                                      datetime="{{post.create_time}}">{{post.create_time}}</time></span>
                            <span class="post-author">{{post.author}}</span>
                            <span class="comments-link"><a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>
                            <span class="views-count">{{post.post_view}} 阅读</span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {% autoescape off %}
                        {{ post.body }}
                        {% endautoescape %}
                        {# 避免HTML代码被转义 也可使用filter{{ post.body|safe }} #}
                    </div>
                </article>
                <section class="comment-area" id="comment-area">
                    <hr>
                    <h3>发表评论</h3>
                    {% show_comment_form post %}
                    <div class="comment-list-panel">
                        {% show_comments post %}
                    </div>
                </section>
            {% endblock main %}